<!DOCTYPE html>
<html>
  <head>
    <title>Pierre's ADMIN PAGE</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>VENDOR TRACKER @Model.Recipient</h1>
    <p>CREATE VENDOR NAME @Model.Recipient</p>
    <p>DELIVERY DATE NEEDED BY @Model.Recipient</p>
    <p>PASTRY ORDER @Model.Sender</p>
    <p>UNITS OF PASTRY ORDERED @Model.Sender</p>
    <p>UNITS OF BREAD ORDERED @Model.Sender</p>
    <p></p>
  </body>
</html>